# __pycache__
__pycache__

# datebase
db.sqlite3

# media
media

# chromedriver
chromedriver.exe

# migrations
migrations
=======
# media
media

# db
db.sqlite3

# chromedriver
chromedriver.exe

# __pycache__
__pycache__

# migrations
migrations

# debug
debug.log
