{% extends 'base.html' %}

{% block content %}
    <div class="ui modal">
        <div id="header" class="header"></div>
        <div class="image content">
            <img id="photo" width="500" height="650" class="image">
        </div>
        <div class="ui cancel button" onclick="$('.ui.modal').css('display', 'none')">Cancel</div>
    </div>
    <section>
        <div class="Wrap">
            <div class="main">
                {% if photo %}
                    <img src="{{ photo.photo }}" width="500" height="500"><br>&nbsp;{{ photo.id }}&nbsp;
                    {{ photo.title }} &nbsp;{{ photo.source }} <br>
                    <form method="post">
                        {% csrf_token %}
                        Comment {{ form.username }} | {{ form.comment }} <input type="submit" name="submit"> 조회 수 {{ photo.views }}   
                        추천 수 {{ photo.thumbs }} <input type="button" id="thumbs_up" value="추천">
                        <input type="button" id="add_myalbum" value="앨범에 등록">
                        <input type="button" id="del_myalbum" value="앨범에서 삭제"><br><br>
                    </form>
                    {% for message in photo.comment %}
                        {{ message.username }} | {{ message }} <br>
                    {% endfor %}
                {% else %}
                    <h1>Recent Photos</h1>
                    <h3>매주 월, 금에 업데이트 될 예정입니다</h3>
                    <div class="photos">
                        <table class="ui celled table" cellspacing=0>
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Photo</th>
                                    <th>Source</th>
                                    <th>Upload Time</th>
                                    <th>Views</th>
                                    <th>Thumbs</th>
                                </tr>    
                            </thead>
                            <tbody>
                                {% for photo in data %}
                                    <tr>
                                        <td>{{ photo.id }}</td>
                                        <td class="photo-title"><a href="/gallery/album/{{ photo.id }}">{{ photo.title }}</a></td>
                                        <td><button class="ui green button"
                                            onclick="show_photo('{{ photo.title }}', '{{ photo.photo }}')">Show Photo</button></td>
                                        <td><button class="ui blue button" onclick="alert('{{ photo.source }}')">Show Source</button></td>
                                        <td>{{ photo.upload_time }}</td>
                                        <td>{{ photo.views }}</td>
                                        <td>{{ photo.thumbs }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if data.has_other_pages %}
                            <div class="ui pagination menu">
                                {% if data.has_previous %}
                                    <a class="item" href="?page={{ data.previous_page_number }}">&laquo;</a>
                                {% else %}
                                    <div class="disabled item"><span>&laquo;</span></div>
                                {% endif %}

                                {% if data.number > 2 %}
                                    <a class="item" href="?page={{ 1 }}">1</a>
                                    <div class="disabled item">...</div>
                                {% endif %}
                                {% for i in page_range %}
                                    {% if data.number == i %}
                                        <a class="active item">{{ i }}</a>
                                    {% else %}
                                        <a class="item" href="?page={{ i }}">{{ i }}</a>
                                    {% endif %}
                                {% endfor %}

                                {% if data.number < max_index %}
                                    <div class="disabled item">...</div>
                                    <a class="item" href="?page={{ max_index|add:'2' }}">{{ max_index|add:"2"}}</a>
                                {% endif %}

                                {% if data.has_next %}
                                    <a class="item" href="?page={{ data.next_page_number }}">&raquo;</a>
                                {% else %}
                                    <div class="disabled item"><span>&raquo;</span></div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <script type="text/javascript">
        $("#thumbs_up").on("click", function(){
            $.ajax({
                type: "POST",
                url: "/gallery/album/" + "{{ photo.id }}",
                data: {thumbs: true},
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");  
                },
                success: function(){
                    alert("추천성공!");
                    window.location.reload();
                },
                error: function(error){
                    alert(error);
                }
              })
            })

        $("#add_myalbum").on("click", function(){
            $.ajax({
                type: "POST",
                url: "/gallery/album/" + "{{ photo.id }}",
                data: {add_myalbum: true},
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");  
                },
                success: function(){
                    alert("나의 앨범에 사진을 등록하였습니다.");
                    window.location.reload();
                },
                error: function(error){
                    alert("이미 등록되어있는 사진입니다.");
                }
              })
            })

        $("#del_myalbum").on("click", function(){
            $.ajax({
                type: "POST",
                url: "/gallery/album/" + "{{ photo.id }}",
                data: {del_myalbum: true},
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");  
                },
                success: function(){
                    alert("나의 앨범에서 사진을 삭제했습니다.");
                    window.location.reload();
                },
                error: function(error){
                    alert("나의 앨범에 등록되어있지 않은 사진입니다.");
                }
              })
            })

        function show_photo(title, photo){
            $(".ui.modal").css("display", "block");
            $("#photo").attr("src", photo);
            $("#header").text(title);
        }
    </script>
{% endblock %}