{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>LoveSeulgi - 슬기 팬 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="{% static 'js/base.js' %}"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
    <header>
        <div class="header-container">
            <h1 class="logo">
                <img src="{% static 'img/loveseulgi_logo.jpg' %}">
            </h1>
            <div class="user-event">
                {% if request.user.is_authentication %}
                    <a href=""><h2>MyAlbum</h2></a>
                    <a href=""><h2>Logout</h2></a>
                {% else %}
                    <a href=""><h2>Login</h2></a>
                    <a href=""><h2>SignUp</h2></a>
                {% endif %}
            </div>
        </div>
    </header>
    <nav>
        <ul class="nav-container">
            <li class="nav-item"><a href="">About</a></li>
            <li class="nav-item"><a href="">Photo</a></li>
            <li class="nav-item"><a href="">Notice</a></li>
            <li class="nav-item"><a href="">Post</a></li>
            <li class="nav-item"><a href="">Report</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <h3>Copyright 2019.Sprumin.All Right Reseved</h3>
    </footer>
</body>
</html>