{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>LoveSeulgi - 슬기 팬 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="{% static 'js/base.js' %}"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body style="overflow:hidden;">
    <header>
        <div class="header-container">
            <div class="logo"></div>
                <a href="/"><img src="{% static 'img/loveseulgi_logo.jpg' %}"></a>
            </div>
            <div class="user-event">
                {% if request.user.is_authenticated %}
                <button class="ui inverted primary button" onclick="window.location='/user/album/'">Album</button>
                <button class="ui inverted red button" onclick="window.location='/user/signout/'">Log-out</button>
                {% else %}
                <button class="ui inverted primary button" onclick="window.location='/user/signup/'">Register</button>
                <button class="ui inverted red button" onclick="window.location='/user/signin/'">Log-in</button>
                {% endif %}
            </div>
        </div>
    </header>
    <nav>
        <div class="nav-container">   
            <a class="nav-about" href="">About</a>
            <a class="nav-photo" href="/gallery/album">Photo</a>
            <a class="nav-notice" href="/post/notice">Notice</a>
            <a class="nav-post" href="/post/post">Post</a>
            <a class="nav-report" href="/post/report">Report</a>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="footer-container">
            <ul class="footer-ul">
                <li class="footer-li">Copyright 2019.Sprumin.All Right Reseved</li>
                <li class="footer-li">이미지 삭제 요청은 sprumin123@gmail.com</li>
            </ul>
        </div>
    </footer>
</body>
</html>