{% extends 'base.html' %}

{% block content %}
    <div id="comment-modal" class="ui modal">
        <div class="header">
            Add Comment
        </div>
        <div class="image content">
            <div class="description">
                <form method="POST" id="add-comment" class="ui form">
                    {% csrf_token %}
                    <div class="field">
                        <label>Title</label>
                        <div class="field">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="field">
                        <label>Content</label>
                        <div class="field">
                            {{ form.comment }}
                        </div>
                    </div>
                    <div id="comment-submit" class="ui submit button">Submit</div>
                </form>
            </div>
        </div>
    </div>
    <section>
        <div class="Wrap">
            <div class="main">
                {% if notice %}
                    <div class="photo">
                        <div class="photo-div">
                            {% if notice.photo %}
                                <img class="select-photo" src="{{ notice.photo }}" width="500" height="500">
                            {% endif %}
                        </div>
                        <div class="description-div">
                            <div class="ui raised segment">
                                <div class="description-header"><h3>{{ notice.title }}</h3></div>
                                <br>
                                <a id="content-to-comments" class="ui teal ribbon label">Content</a>
                                <div id="content" class="ui list">
                                    <div class="ui segment">
                                        <p>{{ notice.content }}</p>
                                    </div>
                                </div>
                                <div id="comments" class="ui list">
                                    {% if notice.comment %}
                                        {% for message in notice.comment %}
                                            <div class="item">
                                                <div class="header">{{ message.username }}</div>
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <h1>No Comments</h1>
                                    {% endif %}
                                    <button class="ui inverted olive button" onclick="javascript:$('#comment-modal').modal('show')">Add</button>
                                </div>
                                <a class="ui orange ribbon label">Events</a>
                                <div class="description-footer">
                                    <div class="ui labeled button" tabindex="0">
                                        <div class="ui button">
                                            <i class="eye icon"></i> Views
                                        </div>
                                        <a class="ui basic left pointing label">{{ notice.views }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% if request.user.is_superuser %}
                    <button class="ui inverted green button" onclick="javascript:window.location='/_4dmin/post/notice/add'">Notice</button>
                    {% else %}
                    <button class="ui inverted green button" data-tooltip="Admin 권한이 필요합니다" data-position="right center">Notice</button>
                    {% endif %}    
                    <h3> Admin 페이지에서 작성할 수 있습니다 </h3>
                    <div class="tables">
                        <table class="ui celled table" cellspacing=0>
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Content</th>
                                    <th>Views</th>
                                    <th>Comments</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in pagination.data %}
                                    <tr>
                                        <td>{{ row.id }}</td>
                                        <td class="photo-title"><a href="/post/notice/{{ row.id }}">{{ row.title }}</a></td>
                                        <td>{{ row.content }}</td>
                                        <td>{{ row.views }}</td>
                                        <td>{{ row.comments }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if pagination.data.has_other_pages %}
                            <div class="ui pagination menu">
                                {% if pagination.data.has_previous %}
                                    <a class="item" href="?page={{ pagination.data.previous_page_number }}">&laquo;</a>
                                {% else %}
                                    <div class="disabled item"><span>&laquo;</span></div>
                                {% endif %}

                                {% if pagination.data.number > 2 %}
                                    <a class="item" href="?page={{ 1 }}">1</a>
                                    <div class="disabled item">...</div>
                                {% endif %}
                                {% for i in pagination.page_range %}
                                    {% if pagination.data.number == i %}
                                        <a class="active item">{{ i }}</a>
                                    {% else %}
                                        <a class="item" href="?page={{ i }}">{{ i }}</a>
                                    {% endif %}
                                {% endfor %}

                                {% if pagination.data.number < max_index %}
                                    <div class="disabled item">...</div>
                                    <a class="item" href="?page={{ pagination.max_index|add:'2' }}">{{ pagination.max_index|add:"2"}}</a>
                                {% endif %}

                                {% if pagination.data.has_next %}
                                    <a class="item" href="?page={{ pagination.data.next_page_number }}">&raquo;</a>
                                {% else %}
                                    <div class="disabled item"><span>&raquo;</span></div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <script type="text/javascript">
        $("#comments").css("display", "none");

        $("#comment-submit").click(function(){
            $("#add-comment").submit();
        });

        $("#content-to-comments").click(function(){
            if($("#content-to-comments").text() == "Comments"){
                $("#comments").css("display", "none");
                $("#content-to-comments").text("Content");
                $("#content").css("display", "block");
            } else if($("#content-to-comments").text() == "Content"){
                $("#content").css("display", "none");
                $("#content-to-comments").text("Comments");
                $("#comments").css("display", "block");
            } else {
                $("#content").css("display", "none");
                $("#content-to-comments").text("Content");
                $("#comments").css("display", "block");
            }
        });
    </script>
{% endblock %}