{% extends 'base.html' %}

{% block content %}
    <div id="post-modal" class="ui modal">
        <div class="header">
            Add Post
        </div>
        <div class="image content">
            <div class="description">
                <form method="POST" enctype="multipart/form-data" id="add-post" class="ui form">
                    {% csrf_token %}
                    <div class="field">
                        <label>Title</label>
                        <div class="field">
                            {{ form.title }}
                        </div>
                    </div>
                    <div class="field">
                        <label>File</label>
                        <div class="field">
                            {{ form.photo }}
                        </div>
                    </div>
                    <div class="field">
                        <label>Content</label>
                        <div class="field">
                            {{ form.content }}
                        </div>
                    </div>
                    <div id="post-submit" class="ui submit button">Submit</div>
                </form>
            </div>
        </div>
    </div>
    <div id="comment-modal" class="ui modal">
        <div class="header">
            Add Comment
        </div>
        <div class="image content">
            <div class="description">
                <form method="POST" id="add-comment" class="ui form">
                    {% csrf_token %}
                    <div class="field">
                        <label>Title</label>
                        <div class="field">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="field">
                        <label>Content</label>
                        <div class="field">
                            {{ form.comment }}
                        </div>
                    </div>
                    <div id="comment-submit" class="ui submit button">Submit</div>
                </form>
            </div>
        </div>
    </div>
    <section>
        <div class="Wrap">
            <div class="main">
                {% if post %}
                    <div class="photo">
                        {% if post.photo %}
                            <div class="photo-div">
                                <img class="select-photo" src="{{ post.photo }}" width="500" height="500">
                            </div>
                            <div class="description-div">
                        {% else %}
                            <div class="description-div" style="width:100%;">
                        {% endif %}
                            <div class="ui raised segment">
                                <div class="description-header"><h3>{{ post.title }}</h3></div>
                                <br>
                                <a id="content-to-comments" class="ui teal ribbon label">Content</a>
                                <div id="content" class="ui list">
                                    <div class="ui segment">
                                        <p>{{ post.content }}</p>
                                    </div>
                                </div>
                                <div id="comments" class="ui list">
                                    {% if post.comment %}
                                        {% for message in post.comment %}
                                            <div class="item">
                                                <div class="header">{{ message.username }}</div>
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                        {% if photo.comments.data.has_other_pages %}
                                            <div class="ui pagination menu">
                                                {% if photo.comments.data.has_previous %}
                                                    <a class="item" href="?page={{ photo.comments.data.previous_page_number }}">&laquo;</a>
                                                {% else %}
                                                    <div class="disabled item"><span>&laquo;</span></div>
                                                {% endif %}

                                                {% if photo.comments.data.number > 2 %}
                                                    <a class="item" href="?page={{ 1 }}">1</a>
                                                    <div class="disabled item">...</div>
                                                {% endif %}
                                                {% for i in photo.comments.page_range %}
                                                    {% if photo.comments.data.number == i %}
                                                        <a class="active item">{{ i }}</a>
                                                    {% else %}
                                                        <a class="item" href="?page={{ i }}">{{ i }}</a>
                                                    {% endif %}
                                                {% endfor %}

                                                {% if photo.comments.data.number < photo.comments.max_index %}
                                                    <div class="disabled item">...</div>
                                                    <a class="item" href="?page={{ photo.comments.max_index|add:'2' }}">{{ photo.comments.max_index|add:"2"}}</a>
                                                {% endif %}

                                                {% if photo.comments.data.has_next %}
                                                    <a class="item" href="?page={{ photo.comments.data.next_page_number }}">&raquo;</a>
                                                {% else %}
                                                    <div class="disabled item"><span>&raquo;</span></div>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <h1>No Comments</h1>
                                    {% endif %}
                                    <button class="ui inverted olive button" onclick="javascript:$('#comment-modal').modal('show')">Add</button>
                                </div>
                                <a class="ui orange ribbon label">Events</a>
                                <div class="description-footer">
                                    <div class="ui labeled button" tabindex="0">
                                        <div class="ui button">
                                            <i class="eye icon"></i> Views
                                        </div>
                                        <a class="ui basic left pointing label">{{ post.views }}</a>
                                    </div>
                                    {% if request.user.is_authenticated %}
                                        <div class="ui labeled button" tabindex="0">
                                            <div class="ui red button" id="thumbs-up">
                                                <i class="thumbs up outline icon"></i> Thumbs
                                            </div>
                                            <a class="ui basic red left pointing label">{{ photo.thumbs }}</a>
                                        </div>
                                        <div id="delete" class="ui button">
                                            <i class="trash alternate icon"></i> Delete
                                        </div>
                                    {% else %}
                                        <h1>Please use the additional function after login.</h1>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% if request.user.is_authenticated %}
                        <button class="ui inverted blue button" onclick="javascript:$('#post-modal').modal('show')">Post</button>
                    {% else %}
                        <button class="ui inverted blue button" data-tooltip="로그인 후 작성해주세요" data-position="right center">Post</button>
                    {% endif %}
                    <h3>위 버튼을 눌러 게시물을 작성할 수 있습니다</h3>
                    <div class="tables">
                        <table class="ui celled table" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Content</th>
                                    <th>Views</th>
                                    <th>Comments</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in pagination.data %}
                                <tr>
                                    <td>{{ row.id }}</td>
                                    <td class="photo-title"><a href="/post/post/{{ row.id }}">{{ row.title }}</a></td>
                                    <td>{{ row.content }}</td>
                                    <td>{{ row.views }}</td>
                                    <td>{{ row.comments }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if pagination.data.has_other_pages %}
                            <div class="ui pagination menu">
                                {% if pagination.data.has_previous %}
                                    <a class="item" href="?page={{ pagination.data.previous_page_number }}">&laquo;</a>
                                {% else %}
                                    <div class="disabled item"><span>&laquo;</span></div>
                                {% endif %}

                                {% if pagination.data.number > 2 %}
                                    <a class="item" href="?page={{ 1 }}">1</a>
                                    <div class="disabled item">...</div>
                                {% endif %}
                                {% for i in pagination.page_range %}
                                    {% if pagination.data.number == i %}
                                        <a class="active item">{{ i }}</a>
                                    {% else %}
                                        <a class="item" href="?page={{ i }}">{{ i }}</a>
                                    {% endif %}
                                {% endfor %}

                                {% if pagination.data.number < max_index %}
                                    <div class="disabled item">...</div>
                                    <a class="item" href="?page={{ pagination.max_index|add:'2' }}">{{ pagination.max_index|add:"2"}}</a>
                                {% endif %}

                                {% if pagination.data.has_next %}
                                    <a class="item" href="?page={{ pagination.data.next_page_number }}">&raquo;</a>
                                {% else %}
                                    <div class="disabled item"><span>&raquo;</span></div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <script type="text/javascript">
        $("#post-submit").click(function(){
            title = $("input[name='title']").val();
            content = $("textarea[name='content']").val();

            if( title == "" || content == ""){
                alert("Title and content are required !");
            } else {
                $("#add-post").submit();
            }
        })

        $("#delete").click(function(){
            $.ajax({
                type: "DELETE",
                url: window.location.pathname,
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");  
                },
                success: function(){
                    alert("삭제되었습니다.");
                    window.location = '/post/post';
                },
                error: function(error){
                    alert("Invalid post id");
                }
            })
        })

        $("#comments").css("display", "none");

        $("#comment-submit").click(function(){
            $("#add-comment").submit();
        });

        $("#content-to-comments").click(function(){
            if($("#content-to-comments").text() == "Comments"){
                $("#comments").css("display", "none");
                $("#content-to-comments").text("Content");
                $("#content").css("display", "block");
            } else if($("#content-to-comments").text() == "Content"){
                $("#content").css("display", "none");
                $("#content-to-comments").text("Comments");
                $("#comments").css("display", "block");
            } else {
                $("#content").css("display", "none");
                $("#content-to-comments").text("Content");
                $("#comments").css("display", "block");
            }
        });
    </script>
{% endblock %}