{% extends 'base.html' %}

{% block content %}
    <section>
        <div class="Wrap">
            <div class="main">
                <h1> 건의사항 </h1>
                {% if report %}
                    {% if report.photo %}
                        <img src="{{ report.photo }}" width="500" height="500">
                    {% endif %}
                    <h2>ID : {{ report.id }}</h2>
                    <h2>TITLE : {{ report.title }}</h2>
                    <h2>CONTENT : {{ report.content }}</h2>
                    <h2>VIEWS : {{ report.views }}</h2>
                    <br>
                    <h3>댓글</h3>
                    <form method="post">
                        {% csrf_token %}
                        Comment {{ form.username }} | {{ form.comment }} <input type="submit" name="submit"> 조회 수 {{ report.views }}
                    </form>
                    <table border=1>
                        <thead>
                            <tr>
                                <td><b>Username</b></td>
                                <td><b>Comment</b></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for message in report.comment %}
                            <tr>
                                <td>{{ message.username }}</td>
                                <td>{{ message }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                <div class="tables">
                    <table class="ui celled table" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Category</th>
                                <th>Title</th>
                                <th>Content</th>
                                <th>Views</th>
                                <th>Password</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in pagination.data %}
                                {% if request.user.is_superuser %}
                                    <tr onclick="javascript:location='/post/report/{{ row.id }}'">
                                {% else %}
                                    <tr onclick="password_modal('{{ row.id }}')">
                                {% endif %}
                                    <td>{{ row.id }}</td>
                                    <td>{{ row.category }}</td>
                                    <td>{{ row.title }}</td>
                                    <td>{{ row.content }}</td>
                                    <td>{{ row.views }}</td>
                                    {% if row.password %}
                                        <td>True</td>
                                    {% else %}
                                        <td>False</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if pagination.data.has_other_pages %}
                        <div class="ui pagination menu">
                            {% if pagination.data.has_previous %}
                                <a class="item" href="?page={{ pagination.data.previous_page_number }}">&laquo;</a>
                            {% else %}
                                <div class="disabled item"><span>&laquo;</span></div>
                            {% endif %}

                            {% if pagination.data.number > 2 %}
                                <a class="item" href="?page={{ 1 }}">1</a>
                                <div class="disabled item">...</div>
                            {% endif %}
                            {% for i in pagination.page_range %}
                                {% if pagination.data.number == i %}
                                    <a class="active item">{{ i }}</a>
                                {% else %}
                                    <a class="item" href="?page={{ i }}">{{ i }}</a>
                                {% endif %}
                            {% endfor %}

                            {% if pagination.data.number < max_index %}
                                <div class="disabled item">...</div>
                                <a class="item" href="?page={{ pagination.max_index|add:'2' }}">{{ pagination.max_index|add:"2"}}</a>
                            {% endif %}

                            {% if pagination.data.has_next %}
                                <a class="item" href="?page={{ pagination.data.next_page_number }}">&raquo;</a>
                            {% else %}
                                <div class="disabled item"><span>&raquo;</span></div>
                            {% endif %}
                        </div>
                    {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <script>
        var report_id = "";

        $(document).ready(function(){
            $("#add_report").hide();
            $("#password_modal").hide();
        })

        $("#open_modal").on("click", function(){
            $("#add_report").show();
        })

        $("#close_modal").on("click", function(){
            $("#add_report").hide();
        })

        $("#close_pwcheck").on("click", function(){
            $("#password_modal").hide();
        })

        function password_modal(_id){
            report_id = _id;

            $("#password_modal").show();
        }

        $("#password_check").on("click", function(){
            $.ajax({
                type: "POST",
                url: "/post/report/" + report_id,
                data: {post_pw: $("#post_pw").val()},
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");  
                },
                success: function(){
                    window.location="/post/report/" + report_id;
                },
                error: function(error){
                    alert(error);
                }
             })
        })
    </script>
{% endblock %}