{% extends 'base.html' %}

{% block content %}

{% if report %}
    {% if report.photo %}
        <img src="{{ report.photo }}" width="500" height="500"><br>
    {% endif %}
    &nbsp;{{ report.id }}&nbsp;{{ report.title }} &nbsp;<br>{{ report.content }} <br>
    <form method="post">
        {% csrf_token %}
        Comment {{ form.username }} | {{ form.comment }} <input type="submit" name="submit"> 조회 수 {{ report.views }}
    </form>
    {% for message in report.comment %}
        {{ message.username }} | {{ message }} <br>
    {% endfor %}
{% else %}
    {% for row in data %}
        <a href="/post/report/{{ row.id }}">{{ row.id }}&nbsp;{{ row.title }}&nbsp;{{ row.content }}&nbsp;{{ row.views }}</a><br>
    {% endfor %}
{% endif %}


{% if data.has_other_pages %}
    <ul class = "pagination">
        {% if data.has_previous %}
            <li>
                <a href="?page={{ data.previous_page_number }}">&laquo;</a>
            </li>
        {% else %}
            <li class = "disabled">
                <span>&laquo;</span>
            </li> 
        {% endif %}
        {% if data.number > 2 %}
            <li>
                <a href="?page={{ 1 }}"> 1 </a>
            </li>
            <li>
                <span>...<span class="sr-only">...</span></span>
            </li>
        {% endif %} 
        {% for i in page_range %}
            {% if data.number == i %}
                <li class="active">
                    <span>{{ i }} <span class="sr-only">(current)</span></span>
                </li> 
            {% else %}
                <li>
                    <a href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if data.number < max_index %}
            <li >
                <span>...<span class="sr-only">...</span></span>
            </li>
            <li>
                <a href="?page={{ max_index|add:'2' }}">{{ max_index|add:"2" }}</a>
            </li>
        {% endif %}
        {% if data.has_next %}
        <li>
            <a href="?page={{ data.next_page_number }}">&raquo;</a>
        </li>
        {% else %}
            <li class="disabled">
                <span>&raquo;</span>
            </li>
        {% endif %}
    </ul>
{% endif %}

{% endblock %}