{% extends 'base.html' %}

{% block content %}
    <div class="ui modal">
        <div class="header">
            Add Report
        </div>
        <div class="image content">
            <div class="description">
                <form method="POST" enctype="multipart/form-data" id="add-report" class="ui form">
                    {% csrf_token %}
                    <div class="field">
                        <label>Title</label>
                        <div class="field">
                            {{ form.title }}
                        </div>
                    </div>
                    <div class="field">
                        <label>Category</label>
                        <div class="field">
                            {{ form.category }}
                        </div>
                    </div>
                    <div class="field">
                        <label>File</label>
                        <div class="field">
                            {{ form.photo }}
                        </div>
                    </div>
                    <div class="field">
                        <label>Content</label>
                        <div class="field">
                            {{ form.content }}
                        </div>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <div class="field">
                            {{ form.password }}
                        </div>
                    </div>
                    <div id="report-submit" class="ui submit button">Submit</div>
                </form>
            </div>
        </div>
    </div>
    <div class="ui modal">
        <div class="header">
            Check Password
        </div>
        <div class="image content">
            <div class="description">
                <div class="ui input">
                    <label>Password</label>
                    <div class="field">
                        <input type="text" name="Password...">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="Wrap">
            <div class="main">
                {% if report %}
                    {% if report.photo %}
                        <img src="{{ report.photo }}" width="500" height="500">
                    {% endif %}
                    <h2>ID : {{ report.id }}</h2>
                    <h2>TITLE : {{ report.title }}</h2>
                    <h2>CONTENT : {{ report.content }}</h2>
                    <h2>VIEWS : {{ report.views }}</h2>
                    <br>
                    <h3>댓글</h3>
                    <form method="post">
                        {% csrf_token %}
                        Comment {{ form.username }} | {{ form.comment }} <input type="submit" name="submit"> 조회 수 {{ report.views }}
                    </form>
                    <table border=1>
                        <thead>
                            <tr>
                                <td><b>Username</b></td>
                                <td><b>Comment</b></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for message in report.comment %}
                            <tr>
                                <td>{{ message.username }}</td>
                                <td>{{ message }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                <button class="ui inverted violet button" onclick="javascript:$('.ui.modal').modal('show')">Report</button>
                <h3> 위 버튼을 눌러 건의사항을 작성할 수 있습니다</h3>
                <div class="tables">
                    <table class="ui celled table" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Category</th>
                                <th>Title</th>
                                <th>Content</th>
                                <th>Views</th>
                                <th>Password</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in pagination.data %}
                                <tr>
                                    <td>{{ row.id }}</td>
                                    {% if request.user.is_superuser or not row.password %}
                                        <td class="photo-title"><a href="/post/report/{{ row.id }}">{{ row.title }}</a></td>
                                    {% else %}
                                        <td class="photo-title"><a onclick="javascript:check_password('{{ row.password }}')">{{ row.title }}</a></td>
                                    {% endif %}
                                    <td>{{ row.category }}</td>
                                    <td>{{ row.content }}</td>
                                    <td>{{ row.views }}</td>
                                    {% if row.password %}
                                        <td>True</td>
                                    {% else %}
                                        <td>False</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if pagination.data.has_other_pages %}
                        <div class="ui pagination menu">
                            {% if pagination.data.has_previous %}
                                <a class="item" href="?page={{ pagination.data.previous_page_number }}">&laquo;</a>
                            {% else %}
                                <div class="disabled item"><span>&laquo;</span></div>
                            {% endif %}

                            {% if pagination.data.number > 2 %}
                                <a class="item" href="?page={{ 1 }}">1</a>
                                <div class="disabled item">...</div>
                            {% endif %}
                            {% for i in pagination.page_range %}
                                {% if pagination.data.number == i %}
                                    <a class="active item">{{ i }}</a>
                                {% else %}
                                    <a class="item" href="?page={{ i }}">{{ i }}</a>
                                {% endif %}
                            {% endfor %}

                            {% if pagination.data.number < max_index %}
                                <div class="disabled item">...</div>
                                <a class="item" href="?page={{ pagination.max_index|add:'2' }}">{{ pagination.max_index|add:"2"}}</a>
                            {% endif %}

                            {% if pagination.data.has_next %}
                                <a class="item" href="?page={{ pagination.data.next_page_number }}">&raquo;</a>
                            {% else %}
                                <div class="disabled item"><span>&raquo;</span></div>
                            {% endif %}
                        </div>
                    {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <script>
        $("#report-submit").click(function(){
            title = $("input[name='title']").val();
            content = $("textarea[name='content']").val();

            if( title == "" || content == "" ){
                alert("Title and content are required !");
            } else {
                $("#add-report").submit();
            }
        })

        function check_password()
    </script>
{% endblock %}