{% extends 'base.html' %}

{% block content %}
    <div id="image-modal" class="ui modal">
        <div id="header" class="header"></div>
        <div class="image content">
            <div class="image">
                <img id="photo" width="500" height="650" class="image">
            </div>   
        </div>
    </div>
    <section>
        <div class="Wrap">
            <div class="main">
                <button id="photo-to-gif" class="ui inverted orange button" value="is_false">Photo</button>
                <h3>매주 월, 금에 업데이트 될 예정입니다</h3>
                <div class="tables">
                    <table class="ui celled table" cellspacing=0>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Photo</th>
                                <th>Source</th>
                                <th>Upload Time</th>
                            </tr>    
                        </thead>
                        <tbody>
                            {% for photo in data %}
                                <tr>
                                    <td>{{ photo.id }}</td>
                                    <td class="photo-title"><a href="/gallery/album/{{ photo.id }}">{{ photo.title }}
                                        {% if comments > 0 %}[{{ photo.comments }}]{% endif %}</a></td>
                                    <td><button class="ui green button"
                                        onclick="show_photo('{{ photo.title }}', '{{ photo.photo }}')">Show Photo</button></td>
                                    <td><button class="ui blue button" onclick="alert('{{ photo.source }}')">Show Source</button></td>
                                    <td>{{ photo.upload_time }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if data.has_other_pages %}
                        <div class="ui pagination menu">
                            {% if data.has_previous %}
                                <a class="item" href="?page={{ data.previous_page_number }}">&laquo;</a>
                            {% else %}
                                <div class="disabled item"><span>&laquo;</span></div>
                            {% endif %}

                            {% if data.number > 2 %}
                                <a class="item" href="?page={{ 1 }}">1</a>
                                <div class="disabled item">...</div>
                            {% endif %}
                            {% for i in page_range %}
                                {% if data.number == i %}
                                    <a class="active item">{{ i }}</a>
                                {% else %}
                                    <a class="item" href="?page={{ i }}">{{ i }}</a>
                                {% endif %}
                            {% endfor %}

                            {% if data.number < max_index %}
                                <div class="disabled item">...</div>
                                <a class="item" href="?page={{ max_index|add:'2' }}">{{ max_index|add:"2"}}</a>
                            {% endif %}

                            {% if data.has_next %}
                                <a class="item" href="?page={{ data.next_page_number }}">&raquo;</a>
                            {% else %}
                                <div class="disabled item"><span>&raquo;</span></div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        $("#del-myalbum").on("click", function(){
            $.ajax({
                type: "POST",
                url: window.location.pathname,
                data: {del_myalbum: true},
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");  
                },
                success: function(){
                    window.location.reload();
                },
                error: function(error){
                    window.location.reload();
                }
              })
            })

        function show_photo(title, photo){
            $("#image-modal").modal('show');
            $("#photo").attr("src", photo);
            $("#header").text(title);
        }
    </script>
{% endblock %}