{% extends 'base.html' %}

{% block content %}
<section>
    <div class="Wrap">
        <div class="main">
            <div class="auth-form">
                <h1 class="auth-title"><b>SignUp</b></h1>
                <form class="ui fluid form" method="POST">
                    {% csrf_token %}
                    <div class="inline field">
                        <h3 class="auth-input">{{ form.email }}</h3>
                        <div class="ui left pointing red basic label">
                            Please enter a E-mail
                        </div>
                    </div>
                    <div class="inline field">
                        <h3 class="auth-input" style="margin-left:16px;">{{ form.username }}</h3>
                        <div class="ui left pointing red basic label">
                            Please enter a Username
                        </div>
                    </div>
                    <div class="inline field">
                        <h3 class="auth-input" style="margin-left:15px;">{{ form.password1 }}</h3>
                        <div class="ui left pointing red basic label">
                            Please enter a Password
                        </div>
                    </div>
                    <div class="inline field">
                        <h3 class="auth-input" style="margin-left:75px;">{{ form.password2 }}</h3>
                        <div class="ui left pointing red basic label">
                            Please enter a Password-Confirmation
                        </div>
                    </div>
                    <button class="ui inverted red button" type="submit">Sign-up</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}